.delete-btn-fb {
    background-color: red;
}
.delete-fb-page-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Integrated-Page-name {
    margin-top: -20px;
    margin-bottom: 20px;
    text-align: center;
}
.form {
    position: relative;
    z-index: 1;
    background: #ffffff;
    max-width: 450px;
    margin: 0 auto 100px;
    padding: 40px;
    padding-right: 100px;
    padding-left: 100px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.form button {
    text-transform: uppercase;
    outline: 0;
    background: var(--fourth-color);
    width: 100%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 1rem;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
    border-radius: 5px;
}

.delete-fb-form-title {
  margin-top: 15px;
  width: 100%;
  text-align: center;
  margin-bottom: 45px;
}
.form button:hover,
.form button:active,
.form button:focus {
    background: var(--third-color);
}

.delete-btn-fb {
    margin-bottom: 9px;
}