<div class="signup-page-form">
    <div class="form">
        <h5 class="signup-form-title">Create Account</h5>
        <div class="signup-form">
            <label for="Name">Name</label>
            <input type="Name" placeholder="" id="Name">
            <label for="email">Email</label>
            <input type="email" placeholder="" id="email">
            <label for="Password">Password</label>
            <input type="password" placeholder="" id="Password">
            <div class="signup-form-remember-me">
                <input type="checkbox" id="signup-form-remember-me" name="signupFormRememberMe"
                    value="signupFormRememberMe" class="signup-form-remember-me">
                <label for="signup-form-remember-me">Remember me</label>
            </div>
            <button>signup</button>
            <p class="message">Already have an account login? <a routerLink="/login">Login</a></p>
        </div>
    </div>
</div>