.signup-page-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form {
    position: relative;
    z-index: 1;
    background: #ffffff;
    max-width: 450px;
    margin: 0 auto 100px;
    padding: 40px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.form input {
    outline: 0;
    width: 100%;
    border: 1px solid rgb(161, 161, 161);
    border-radius: 5px;
    margin: 0 0 15px;
    padding: 1rem;
    font-size: 0.9rem;
}

.form button {
    border-radius: 5px;
    text-transform: uppercase;
    outline: 0;
    background: var(--fourth-color);
    width: 100%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 1rem;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
    background: var(--third-color);
}

.form .message {
    margin: 15px 0 0;
    color: var(--second-color);
    font-size: 0.8rem;
}

.form .message a {
    color: var(--third-color);
    text-decoration: none;
}

.signup-form-title {
  margin-top: 15px;
  width: 100%;
  text-align: center;
  margin-bottom: 25px;
}

.signup-form-remember-me {
    width: 100%;
    margin-bottom: 15px;
}


.signup-form-remember-me input {
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    appearance: checkbox;
    display: inline-block;
    width: auto;
    margin-right: 5px;
}

.signup-form label {
    justify-content: left;
    font-weight: 400;
    text-align: left;
    margin-bottom: 2px;
}

.message {
    width: 100%;
    padding-top: 25px;
    text-align: center;
}