<div class="login-page-form">
    <div class="form">
        <h5 class="login-form-title">Login to your Account</h5>
        <div class="login-form">
            <label for="email">Email</label>
            <input type="email" placeholder="" id="email">
            <label for="Password">Password</label>
            <input type="password" placeholder="" id="Password">
            <div class="login-form-remember-me">
                <input type="checkbox" id="login-form-remember-me" name="loginFormRememberMe"
                    value="loginFormRememberMe" class="login-form-remember-me">
                <label for="login-form-remember-me">Remember me</label>
            </div>
            <button>Login</button>
            <p class="message">New to MyApp? <a routerLink="/signup">Sign Up</a></p>
        </div>
    </div>
</div>